{
  "defaultSeverity": "error",
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue",
    "stylelint-config-html",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "::v-deep",
          ":root",
          "deep",
          "v-deep"
        ]
      }
    ],
    "selector-type-no-unknown": [
      true,
      {
        "ignoreTypes": [
          "page",
          "rich-text",
          "scroll-view"
        ]
      }
    ],
    "unit-no-unknown":[
      true,
      {
        "ignoreUnits": ["rpx","upx"]
      }
    ],
    "no-descending-specificity": null,
    "no-empty-source": null,
    "keyframes-name-pattern": "^[a-z]+([A-Z][a-z]*)*$"
  },
  "ignoreFiles": [
    "node_modules",
    "dist",
    "public",
    "output",
    "coverage",
    "temp",
    "*.js",
    "*.cjs",
    "*.mjs",
    "*.ts",
    "*.tsx",
    "*.svg",
    "*.gif",
    "*.md"
  ]
}
